@import "tailwindcss";

@theme inline {
  --color-background: #fafafa;
  --color-foreground: #171717;
  --font-sans: 'Geist', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Geist Mono', ui-monospace, monospace;
}
